#main {
  height: 100vh;
}

#full-view {
  height: 94vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  font-family: Roboto;
  overflow: auto;
}

#book-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 1px 2px 0px rgba(96, 97, 112, 0.16),
    0px 0px 1px 0px rgba(40, 41, 61, 0.08);
  padding: 40px 60px;
  width: 80%;
}

#new-top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

#new-top img {
  width: 20%;
  border-radius: 10px;
}

#new-top div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

#new-top h1 {
  color: #334155;
}

#new-top p {
  color: #475569;
  font-size: 16px;
}

.name {
  font-size: 20px;
}

#new-top span {
  color: #0284c7;
  font-weight: 500;
}

#book-details hr {
  margin-top: 30px;
  margin-bottom: 20px;
}

#book-details h2 {
  color: #334155;
  margin-bottom: 10px;
}

#book-details p {
  color: #475569;
  margin-bottom: 10px;
}

#Footer {
  margin-top: 20px;
}

@media screen and (max-width: 1000px) {
  #new-top img {
    width: 40%;
    border-radius: 10px;
  }
}

@media screen and (max-width: 640px) {
  #full-view {
    padding: 40px 10px;
  }

  #book-details {
    background-color: transparent;
    border-radius: 10px;
    box-shadow: none;
    padding: 0;
    width: 90%;
  }

  #new-top {
    flex-direction: column;
    gap: 20px;
  }

  #new-top img {
    width: 180px;
  }

  #new-top div {
    align-items: center;
    gap: 5px;
  }

  #new-top h1 {
    color: #334155;
    text-align: center;
    font-size: 28px;
    margin-bottom: 10px;
  }

  #new-top p {
    color: #475569;
    font-size: 15px;
  }

  .name {
    font-size: 18px;
  }

  #book-details h2 {
    color: #334155;
    margin-bottom: 10px;
  }

  #book-details p {
    font-size: 15px;
    margin-bottom: 20px;
  }
}
